<footer class="footer" *ngIf="footerData">
  <div class="container">
    <nav>
      <ul>
        <li *ngFor="let link of footerData.links">
          <a [href]="link.href"> {{ link.label }} </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{ data | date : "yyyy" }}, Designed by
      <a
        [href]="footerData.rightLinks[0].href"
        [target]="footerData.rightLinks[0].target"
        >{{ footerData.rightLinks[0].label }}</a
      >. Coded by
      <a
        [href]="footerData.rightLinks[1].href"
        [target]="footerData.rightLinks[1].target"
        >{{ footerData.rightLinks[1].label }}</a
      >.
    </div>
  </div>
</footer>
