<div class="page-header" filter-color="orange">
  <div
    class="page-header-image"
    [style]="
      'background-image:url(assets/img/' +
      bgImage?.data[0].attributes.name +
      ')'
    "
  ></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <form class="form" method="" action="">
          <div class="header header-primary text-center">
            <div class="logo-container">
              <img src="assets/img/now-logo.png" alt="" />
            </div>
          </div>
          <div class="content">
            <div
              class="input-group form-group-no-border input-lg"
              [ngClass]="{ 'input-group-focus': focus === true }"
              *ngFor="let login of loginFormData?.inputs"
            >
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="now-ui-icons" [ngClass]="login.icon"></i
                ></span>
              </div>
              <input
                [type]="login.type"
                class="form-control"
                [placeholder]="login.placeholder"
                (focus)="focus = true"
                (blur)="focus = false"
              />
            </div>
          </div>
          <div class="footer text-center">
            <a
              [href]="loginFormData?.links[0].href"
              class="btn btn-primary btn-round btn-lg btn-block"
              >{{ loginFormData?.links[0].label }}</a
            >
          </div>
          <div class="pull-left">
            <h6>
              <a [href]="loginFormData?.links[1].href" class="link">{{
                loginFormData?.links[1].label
              }}</a>
            </h6>
          </div>
          <div class="pull-right">
            <h6>
              <a [href]="loginFormData?.links[2].href" class="link">{{
                loginFormData?.links[2].label
              }}</a>
            </h6>
          </div>
        </form>
        <div *ngIf="!isLoggedin">
          <button
            type="button"
            (click)="loginWithFacebook()"
            class="btn btn-primary btn-block"
          >
            Signin with Facebook
          </button>
          <div
            id="g_id_onload"
            data-client_id="820508364262-tia155klu5d5ielrj5bcfuf47qc8bg4u.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="http://localhost:4200/index"
            data-auto_select="true"
            data-itp_support="true"
          ></div>

          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com"> Creative Tim </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/about-us"> About Us </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com"> Blog </a>
          </li>
          <li>
            <a
              href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md"
            >
              MIT License
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy;
        {{ data | date : "yyyy" }}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
        Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>
