<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/bg5.jpg')"
    ></div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img [src]="'assets/img/' + userData?.picture.name" alt="" />
        </div>
        <h3 class="title">{{ userData?.username }}</h3>
        <p class="category">{{ userData?.job }}</p>
        <div class="content">
          <div class="social-description">
            <h2>{{ userData?.reviews.length }}</h2>
            <p>Comments</p>
          </div>
          <div class="social-description">
            <h2>{{ userData?.bookmarks.length }}</h2>
            <p>Bookmarks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="button-container">
        <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
        <a
          [href]="social.url"
          class="btn btn-default btn-round btn-lg btn-icon"
          rel="tooltip"
          title="Follow me on Twitter"
          *ngFor="let social of userData?.socialNetworks"
        >
          <i [class]="'fab ' + social.icon"></i>
        </a>
      </div>
      <h3 class="title">{{ userData?.profile?.header.label }}</h3>
      <h5 class="description">
        {{ userData?.profile?.header.title }}
      </h5>
      <div class="row">
        <div class="col-md-12">
          <h4 class="title text-center">My Portfolio</h4>
          <ngb-tabset
            [justify]="'center'"
            type="pills"
            class="nav nav-pills nav-pills-primary nav-pills-just-icons justify-content-center tab-space"
          >
            <ngb-tab *ngFor="let galleryItem of userData?.profile?.pictures">
              <ng-template ngbTabTitle>
                <i [ngClass]="galleryItem.icon"></i>
              </ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-md-10 ml-auto mr-auto">
                    <div class="row collections">
                      <div
                        class="col-md-6"
                        *ngFor="let galleryImgs of galleryItem.gallery"
                      >
                        <img
                          [src]="'assets/img/' + galleryImgs?.name"
                          alt=""
                          class="img-raised"
                        />
                        <!--<img
                          src="assets/img/bg3.jpg"
                          alt=""
                          class="img-raised"
                        />-->
                      </div>
                      <!--<div class="col-md-6">
                        <img
                          src="assets/img/bg8.jpg"
                          alt=""
                          class="img-raised"
                        />
                        <img
                          src="assets/img/bg7.jpg"
                          alt=""
                          class="img-raised"
                        />
                      </div>-->
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
</div>
